*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.body{
    font-family: 'Roboto Mono', monospace;
}
.back{
    background-image: url(../img/assets/asset\ 8.jpeg);
    height: 625px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#3e59a3da ;
    background-blend-mode: multiply;

    
}
.navbar-brand img{
    height: 33px;
}
.navbar{
    padding-top:15px ;
}
nav ul{}
nav ul li a{
    text-transform: capitalize;
    margin-left: 18px;
    font-size: 14px;
    color: #ffffff70;

}
nav ul li  .active{
    color:#fff;
}
nav ul li a:hover{
    color:#ffffffc4;
}
.dark{
    background-color: #6F989D;
    margin: 2px 10px;
    padding: 9px 30px;
    box-shadow: 0 0 0 #6F989D;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;

}
.dark:hover{
    color: #ffffff;
    background-color: #1647b9;
}
/*text part*/
.edit{
    margin: 150px 0px;
}
.textpart h4{
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.textpart h1{
    font-size: 56px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 5px;
    font-weight: 400;
}
.textpart p{
    text-align: center;
    font-size: 16px;
    margin-top: 15px;
    color: #ffffff;
    margin: 15px 200px;
}
.textpart a{
    margin-top: 40px;
    padding: 10px 38px;
    text-transform: uppercase;
    font-size: 13px;
}
.textpart .one:hover{
    background-color: #4a597e;
}

.btn-light:hover{
    background-color: #4a597e;
    color: #ffffff;
    
}
/*text part*/

/*Services s t a r t s*/
.services{
    margin-top: 100px;
    margin-bottom: 100px;
}
.services h3{
    text-align: center;
    padding-top:100px ;
    font-size: 25px;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 600;
    color: #ffffff;
}
.services a:hover{
    text-decoration: none;
    
}
.services1{
    background-image: url(../img/assets/asset\ 9.jpeg);
    height: 250px;
    width: 100%;
    background-position: contain;
    background-size: cover;
    opacity: 1.2;
    background-blend-mode: overlay;
    background-color: #5c62725d;
    margin-left: 25px;
}
.services2{
    background-image: url(../img/assets/asset\ 10.jpeg);
    height: 250px;
    width: 100%;
    background-position: contain;
    background-size: cover;
    opacity: 1.2;
    background-blend-mode: overlay;
    background-color: #5c62725d;
    margin-left: 12px;
    
}
.services3{
    background-image: url(../img/assets/asset\ 11.jpeg);
    height: 250px;
    width: 100%;
    background-position-y: contain;
    background-size: cover;
    opacity: 1.2;
    background-blend-mode: overlay;
    background-color: #7880305d;
    margin-right: 10px;
}
.services1:hover{
    background-color: #5c6272;
}
.services2:hover{
    background-color: #5c6272;
}
.services3:hover{
    background-color:  #5c6272;
}

.services h4{
    margin-left: 25px;
    font-weight: 400;
    letter-spacing: 2px;

}
.services p{
    font-size: 13px;
    color: #000000a1;;
}
.services h6{
    font-size: 13px;
    color: #000000a1;
    margin-top: 15px;

}
.services .history{
    margin-top: 25px;
    border:1px solid #3053adb4;
    padding: 8px 35px;
    color: #000000c7;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.history:hover{
    background-color:#3053adb4 ;
}
/*Services e n d s*/

/*call to action starts*/
.action{
    background-image: url(../img/assets/asset\ 12.jpeg);
    height: 500px;
    max-width: 100%;
    margin-bottom: 100px;
    background-position: bottom;
    background-attachment: fixed;
    opacity: 1.2;
    background-color: #5f98a0cb;
    background-blend-mode:multiply;
}
.text2{
    padding: 180px 0px ;
    text-align: center;
}
.text2 h3{
    font-style: italic;
    font-size: 26px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}
.text2 p{
    
    margin: 30px 300px;
    font-size: 13px;
    color: #ffffff;
    text-align: justify;
}
.text2 a{
    margin-top: 15px;
    padding: 6px 35px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}

/*call to action e n d s*/

/*Random images*/
.random{
    margin-bottom: 100px;
    background-color:#F4F8F9 ;
}
.pic{
    margin: 10px;
    max-width: 100%;
}

/*footer part*/
.footer{
    padding-bottom: 20px;
    background-color: #F4F8F9;
}
.ico{
    
    font-size: 16px;
    color: #1647b9;
    border-radius: 30px;
    background-color: #fff;
}
.box{
    text-align: left;
}
.box img{
    height: 35px;
    margin-bottom: 20px;
    margin: 15px;
}
.box h6{
    font-size: 13px;
    font-weight: 400;
    margin: 25px 0;

}
.lastpart{
    margin-top: 40px;
    text-align: center;
    text-transform: capitalize;
}
.lastpart i{
    color: red;
}
.lastpart i:hover{
    font-size: 20px;
    color: rgba(197, 7, 118, 0.863);
}